<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
    <title>Activate your account</title>
</head>
<body style="margin:0;padding:0;">
    <table role="presentation" style="width:100%;border-collapse:collapse;border:2px solid #cccccc;border-spacing:0;background:#ffffff;">
      <tr>
        <td align="center" style="padding:0;">
          <table role="presentation" style="width:602px;border-collapse:collapse;border:3px solid #cccccc;border-spacing:0;text-align:left;">
            <tr>
              <td align="center" style="padding:40px 0 10px 0;background:#ffffff;">
                <img src="https://i.imgur.com/dsWhcFG.png" alt="" width="450" style="height:auto;display:block;" />
              </td>
            </tr>
            <tr>
              <td style="padding:0 30px 12px 30px;">
                <table role="presentation" style="width:100%;border-collapse:collapse;border:0;border-spacing:0;">
                  <tr>
                    <td align="center" style="padding:0;color:#313866;font-size:1.25rem;font-family:'Montserrat',sans-serif;font-weight:700;">
                      Welcome to The Rec Room, {{username}}!
                    </td>
                  </tr>
                  <tr>
                    <td align="center" style="padding:10px 0;height:40vh;">
                        <img style="height:100%;width:auto;" src="https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExdGUwdDBtdDl4NW1leWd3dDV6dGJqcXhkYnU0anAxZzY5d3AyejdhOSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9cw/YaW2eWCuStiRrrtGu8/giphy.gif" />
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td style="padding:0 30px 12px 30px;">
                <table role="presentation" style="width:100%;border-collapse:collapse;border:0;border-spacing:0;">
                  <tr>
                    <td align="center" style="padding:0;color:#313866;font-size:1.25rem;font-family:'Montserrat',sans-serif;font-weight:700;">
                      Confirm your email address to activate your account.
                    </td>
                  </tr>
                  <tr>
                    <td align="center" style="padding:10px 0;color:#313866;font-size:1rem;font-family:'Montserrat',sans-serif;font-weight:700;">Click the button below to verify your email OR copy and paste the following link into your browser:
                    </td>
                    <tr>
                      <td align="center" style="padding:0;color:#313866;font-size:0.75rem;font-family:'Montserrat',sans-serif;font-weight:300;">
                        <a href="{{url}}">{{url}}</a>
                    </td>
                  </tr>
                  <tr>
                    <td align="center" style="padding:20px 0;">
                      <a style="background-color: #964EC2;
                      border: none;
                      color: white;
                      padding: 10px 20px;
                      text-align: center;
                      text-decoration: none;
                      font-size: 16px;
                      margin: 4px 2px;
                      cursor: pointer;
                      border-radius: 30px;
                      font-family: 'Open Sans', sans-serif" href="{{url}}" class="button is-secondary-purple">Verify Email</a>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>